.registerButton {
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center
}

.regis {
    max-width: 800px;
    margin: auto;
}

.regis input {
    margin-top: 5px;
}

#dataProtCheck {
    background-color:white;
    border-radius:10px;
    margin-top:5px;
    text-indent:6px;
}

#usernameExists {
    display:inline;
    background-color:orangered;
    border-radius:40px;
    text-indent:6px;
}
