#mainFrame {
    margin: 20pt;
}

#marginTop {
    margin-top: 20pt;

}

#headerRow {
    margin-right: 0;
}

.card {
    margin-left: auto;
    margin-right: auto;
}


@media (min-width: 1252px) {
    .navSearch {
        display: none;
    }

    #smallWeatherlWidget {
        display: none;
    }
}

@media (max-width: 1251.98px) {
    #sideSearch {
        display: none;
    }
}

#searchForm {
    padding: 8px;
}

#background {
    background-image: url(../pictures/Background-Image.jpg);
    background-color: black;
    background-size: cover;
    border: 1px solid black;
    padding: 2px;
}

#map {
    height: 500px;
    width: height+50px;
}

.createEntryPage {
    padding-bottom: 20px
}

.createEntryPage .container {
    background-color: white;
}

.createEntryPage .col {
    width: 50%;
}

.createEntryPage input[type="text"] {
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.createBtn {
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center
}

.registerButton {
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center
}

@media (min-width: 575px) {
    .map {
        height: 250px;
        width: height+10px;
    }
}

@media (max-width: 574.98px) {
    .regis .form-row {
        padding-bottom: 20px;
    }

    #smallWeatherlWidget {
        display: none;
    }

    .map {
        height: 250px;
        width: 400px;
    }
}

.dropdown-item {
    padding: .25rem .5rem;
}

.dropdown-item.active,
.dropdown-item:active {
    background-color: transparent;
    color: black;
}

#loginBtn {
    padding-top: 3px;
}

.regis {
    max-width: 800px;
    margin: auto;
}

.regis input {
    margin-top: 5px;
}


/* Quelle (angepasst) : https://www.w3schools.com/howto/howto_css_modal_images.asp*/
/* Start */
/* The Modal (background) */
#imgModal {
    position: fixed;
    padding-top: 60px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.9);
    /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
    margin: auto;
    display: block;
    height: auto;
    width: auto;
    max-height: 99%;
}

/* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
    .modal-content {
        width: 95%;
    }
}

/* Ende */

.commentImage img {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    height: auto;
    width: auto;
    max-width: 400px;
    max-height: 400px;
}

#imagePreview {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    height: auto;
    width: auto;
    max-height: 60%;
}

.noScr {
    margin: 8px
}

.legalText {
    padding: 10px;
}
