#mainFrame {
    margin: 20pt;
}

#groupImage {
    max-width: 100%;
    height: auto;
}

.card {
    margin-left: auto;
    margin-right: auto;
}


@media (min-width: 768px) {
    #navSearch {
        display: none;
    }
}

@media (max-width: 767.98px) {
    #sideSearch {
        display: none;
    }
}

#background {
    background-image: url(../Bilder/DummyMaps.png);
    /*TODO richtiges Bild einfügen*/
    background-color: black;
    background-size: cover;
    border: 1px solid black;
    padding: 2px;
}

.box {
    position: relative;
    width: 100%;
    /* desired width */
}

.box:before {
    content: "";
    display: block;
    padding-top: 50%;
    /* initial ratio of 1:1*/
}

.content {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

}

.createEntryPage {
    padding-bottom: 20px
}

.createEntryPage input {
    width: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
